<div id="sidebar">
	<ul>
		<li>This is a sidebar item</li>
		<li>This is a sidebar item</li>
		<li>This is a sidebar item</li>
		<li>This is a sidebar item</li>
		<li>This is a sidebar item</li>
		<li>This is a sidebar item</li>
	</ul>
</div>