<h1> This is the home page </h1>
	<p><b>Welcome,</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac diam nibh. Phasellus
	egestas sapien id lacus luctus auctor aliquam turpis venenatis. Nunc et velit lorem. In ipsum nisi, accumsan nec 		 
	luctus vitae, blandit vel tellus. Vestibulum tincidunt iaculis auctor. Donec vitae auctor nisi. Vestibulum ante 
	ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;

	Maecenas non nibh enim, sed elementum nisl. Praesent porta sodales blandit. Nam mollis, erat a ultrices porta,
	nisi leo varius magna, vitae faucibus urna sapien euismod purus. Etiam porttitor interdum sodales. Curabitur  
	pellentesque tincidunt risus eget lacinia. Mauris commodo pharetra erat et pellentesque. Sed urna arcu, varius 
	in pellentesque vitae, mattis eget tellus.</p>
