/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

/* General Styling */
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
article, aside, dialog, figure, footer, header, hgroup, nav, section {
	display:block;
} 

body {
	background-image: url("road.jpg");
	background-repeat: no-repeat;
	font-family: Verdana, Arial, sans-serif;
}

.container {
	color: white;
	background-image: url("background.png");
	background-repeat: no-repeat;
	width: 1000px;
	height: 800px;
	margin-left: 135px;
}
h1 {
	font-size: 120%;
	font-weight: bold;
}

/* Header Styling */
.top_table {
	background-image: url('nav.png');
}
.links tr td {
	padding-top: 8px;
	padding-left: 45px;
}
/* Main Content Styling */
#main {
	background-color: #333333;
	margin: 20px;
	padding: 20px;
	float: left;
	width: 700px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

/* Sidebar Styling */
#sidebar {
	padding: 20px 20px 20px 35px;
	margin-left: 750px;
}
/* Footer Styling */
footer {
	color: white;
	text-align: center;
	padding: 20px;
}