/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

/* General Styling */
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
article, aside, dialog, figure, footer, header, hgroup, nav, section {
	display:block;
}

body {
	background-image: url("road.jpg");
	background-repeat: no-repeat;
}

.container {
	background-image: url("background.png");
	background-repeat: no-repeat;
	width: 1000px;
	height: 800px;
	margin-left: 135px;
}

/* Header Styling */
.links tr {
	border-top: black solid;
	border-bottom: black solid;
}
.links tr td {
	padding: 20px;
}

/* Sidebar Styling */
table sidebar {
	margin: 0;
	padding: 0;
}